.link {
  stroke-width: 2px;
  fill: red;
  stroke: rgb(230, 230, 230);
}
.classLayoutContainer {
  width: 40%;
  height: 60%;
  /* background-color: red; */
  padding: 3em;
  /* align-items: center;
  justify-content: center;
  display: flex; */
}
.ImageClass {
  height: 50px;
  width: 100px;
  color: rgba(0, 0, 0, 0.803);
}
.node {
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  /* color: green; */
}
